.section {
    padding-top: 70px;
}

.section h1{
    font-size: xx-large;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.section p, .donation{
    white-space: break-spaces;
    font-size: 18px;
    line-height: 150%;
}

.donationContainer{
    padding-top: 20px;

    h3{
        font-size: x-large;
        text-align: center;
    }
}

.donation{
    background-color: var(--primary-color);
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
}

.donation span:last-child{
    font-weight: normal;
}

@media (min-width: 640px){
    .section{
        display: flex;
        flex-direction: column;
    }

    .section p{
        text-align: center;
    }

    .donation{
        max-width: 600px;
        margin-inline: auto;
    }
}